@use 'sass:math';

@use '@/styles/colors' as colors;
@use '@/styles/media-breakpoints' as breakpoints;
@use '@/styles/base' as base;

.base-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: auto;
  background: colors.$modal-bg;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 9;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 16px;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    border: none;
    box-shadow: colors.$main-shadow;
    max-height: 95vh;
    overflow: hidden;

    .base-modal_size-lg & {
      max-width: base.$modal-max-width;

      @include breakpoints.media-breakpoint-down(md) {
        max-width: base.$modal-md-max-width;
      }
    }

    .base-modal_size-md & {
      max-width: base.$modal-md-max-width;
    }

    .base-modal_size-sm & {
      max-width: base.$modal-max-width;
    }
  }

  &__close {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: colors.$gray-10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;

    @include breakpoints.media-breakpoint-down(xs) {
      width: 23px;
      height: 23px;
    }

    &-icon {
      width: 18px;
      height: 18px;
      fill: colors.$gray;

      @include breakpoints.media-breakpoint-down(xs) {
        width: 11px;
        height: 11px;
      }
    }

    &_absolute {
      position: absolute;
      top: 32px;
      right: 32px;

      @include breakpoints.media-breakpoint-down(xs) {
        top: 23px;
        right: 23px;
      }

      .base-modal__close-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 32px;
    border-bottom: 1px solid colors.$gray-300;

    @include breakpoints.media-breakpoint-down(xs) {
      align-items: flex-start;
      padding: 23px;
      font-size: 20px;
    }

    &_with-icon {
      padding: 32px 32px 23px 32px;

      @include breakpoints.media-breakpoint-down(xs) {
        padding: 18px 23px 17px 23px;
      }
    }

    &-icon {
      width: 36px;
      height: 36px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 13px;
    @include base.font-secondary;
    color: colors.$black;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;

    @include breakpoints.media-breakpoint-down(xs) {
      font-size: 20px;
    }

    &-icon-wrapper,
    &-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      border-radius: 10px;
      flex-shrink: 0;
      background-color: colors.$gray-10;
    }

    &-icon {
      width: 22px;
      height: 26px;
      fill: colors.$gray;
      color: colors.$gray;
    }

    &-image {
      width: 22px;
      height: auto;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;
    color: colors.$gray-900;
    margin-bottom: 32px;

    @include breakpoints.media-breakpoint-down(xs) {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  &__content {
    padding: 32px 32px 2px 32px;
    width: 100%;
    overflow-y: auto;

    @include breakpoints.media-breakpoint-down(xs) {
      padding: 23px 23px 2px 23px;
    }
  }

  &__controls {
    padding: 32px;

    @include breakpoints.media-breakpoint-down(xs) {
      padding: 23px;
    }
  }

  &_variant {
    &-warning {
      .base-modal__header {
        align-items: flex-start;
        justify-content: center;
        border-bottom: none;
        padding-bottom: 0;
      }

      .base-modal__title {
        flex-direction: column;
        align-items: center;
        gap: 13px;
        text-align: center;
      }

      .base-modal__close {
        position: absolute;
        right: 32px;
        top: 32px;

        @include breakpoints.media-breakpoint-down(xs) {
          right: 23px;
          top: 23px;
        }
      }

      .base-modal__description {
        text-align: center;
      }
    }
  }

  &_without-controls {
    .base-modal__content {
      padding: 32px;

      @include breakpoints.media-breakpoint-down(xs) {
        padding: 23px;
      }
    }
  }
}

.modals {
  &-enter-active,
  &-leave-active {
    transition: opacity base.$transition-duration ease;

    .base-modal {
      &__container {
        transition: transform math.div(base.$transition-duration, 1.2) ease;
      }
    }
  }

  &-leave-active {
    pointer-events: none;

    .base-modal {
      &__container {
        pointer-events: all;
      }
    }
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    backdrop-filter: blur(0);

    .base-modal {
      &__container {
        transform: translateY(-300px);
        pointer-events: none;
        user-select: none;
      }
    }
  }

  &-enter-to {
    .base-modal__container {
      pointer-events: auto;
      user-select: auto;
    }
  }
}
