@use './colors';
@use './base';

@mixin scrollbar {
  scrollbar-color: colors.$gray-border colors.$transparent;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: base.$scrollbar-width;
    height: 10px;
    border-radius: 13px;
    background-color: colors.$transparent;
  }

  ::-webkit-scrollbar-track {
    border-radius: 13px;
    background-color: colors.$transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: colors.$gray-border;
    border-radius: 13px;
  }
}
